
/******************************************************************
    Header
******************************************************************/




/******************************************************************
    Body Général
******************************************************************/
body{
    background-color: #ffbb00;
}
h1.titre-principal{
    text-align: center;
    color: #810000;
    margin-bottom: 5%;
}

h2.titre-secondaire{
    text-align: left;
    color: black;
}

.container-fluide{
    margin-left: 5%;
    color: #4b4b4b;
    font-size: 20px;
}

/******************************************************************
    Products
******************************************************************/
.col-lg-8{
    padding-right: 15%;
}

.col-lg-4{
    padding-left: 4%;
}



/******************************************************************
    Basket
******************************************************************/




/******************************************************************
    Contact
******************************************************************/





/******************************************************************
    footer
******************************************************************/
.footerNav{
    margin: auto;
    text-align: center;
}