/*HEAD*/

html{
    height: 100%;
}

/******************************************************************
    Header
******************************************************************/
.headerNav{
    background-image: url("../images/background.jpg");
    background-size: cover ;
    margin-bottom: 30px;
}

/************
    Navbar
************/

.navbar-brand{
    color: white !important;
    text-shadow: 5px 5px 10px black;
    font-size: 25px;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #eeb137 !important;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border-color: rgb(255, 255, 255);
}

/******************************************************************
    Body Général
******************************************************************/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

body{
    background-color: #ffbb00;
}
h1.titre-principal{
    text-align: center;
    color: #810000;
    margin-bottom: 5%;
}

h2.titre-secondaire{
    text-align: left;
    color: black;
}

.container-fluide{
    margin-left: 5%;
    color: #4b4b4b;
    font-size: 20px;
}

/******************************************************************
    Products
******************************************************************/
.col-lg-8{
    padding-right: 15%;
}

.col-lg-4{
    padding-left: 4%;
}



/******************************************************************
    Basket
******************************************************************/




/******************************************************************
    Contact
******************************************************************/





/******************************************************************
    footer
******************************************************************/
.footerNav ul{
    margin: auto;
    text-align: center;
}

.footerNav{
    background-image: url("../images/background.jpg");
    background-size: cover ;
    margin-top: 30px;
}
