/*HEAD*/

html{
    height: 100%;
}

/******************************************************************
    Header
******************************************************************/
.headerNav{
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin-bottom: 30px;
}
.headerNav img{
    height: 50px;
}

/************
    Navbar
************/
.headerNav .navbar-brand{
    color: white !important;
    text-shadow: 5px 5px 10px black;
    font-size: 25px;
}
.headerNav .nav-link{
    color: white !important;
    padding-bottom: 1%;
}
.headerNav .nav-link:hover{
    color: #F38A1E !important;
    transition: all linear 200ms;
}
.headerNav .navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border-color: rgb(255, 255, 255);
}

/******************************************************************
    Body Général
******************************************************************/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

body{
    background-color: #ffffff;
}

.middleDiv{
    height: 100%;
}

/******************************************************************
    Home
******************************************************************/

/******************************************************************
    Products
******************************************************************/

/******************************************************************
    Basket
******************************************************************/




/******************************************************************
    Contact
******************************************************************/

/******************************************************************
    livraison
******************************************************************/


/******************************************************************
    footer
******************************************************************/
.footerNav{
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin-top: 30px;
}

.footerNav ul{
    margin: auto;
    text-align: center;
}
.footerNav .nav-link{
    color : white !important;
}
.footerNav .nav-link:hover{
    color : #F38A1E !important;
}
